.container1 hr{
    width: 20%;
    height: 3px;
    color: rgb(245, 58, 58);
    background-color: rgb(226, 73, 45);
    border: solid;
    margin-left: 560px;
    margin-top: -15px;
    margin-bottom: 50px;

}

#title{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;

}